{
  "root": true,
  "env": {
    "es2021": true,
    "node": true,
  },
  "plugins": ["eslint-plugin", "@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": ["./app/tsconfig.json"],
      },
    },
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/prefer-readonly": [
      1,
      {
        "onlyInlineLambdas": true,
      },
    ],
  },
}
